apiVersion: apps/v1
kind: Deployment
metadata:
  name: bakta-backend
  labels:
    app.kubernetes.io/name: backend
    app.kubernetes.io/part-of: bakta-web
    app.kubernetes.io/version: v0.1.0
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: backend
      app.kubernetes.io/part-of: bakta-web
      app.kubernetes.io/version: v0.1.0
  template:
    metadata:
      labels:
        app.kubernetes.io/name: backend
        app.kubernetes.io/part-of: bakta-web
        app.kubernetes.io/version: v0.1.0
    spec:
      containers:
      - env:
        - name: ApiToken
          value: foo
        - name: MongoPassword
          valueFrom:
            secretKeyRef:
              key: mongodb-password
              name: mongo-mongodb
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              key: AccessKey
              name: s3
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              key: SecretKey
              name: s3
        image: harbor.computational.bio.uni-giessen.de/bakta/bakta-web-backend:0.2.9-beta.42
        resources:
          limits:
            cpu: 2000m
            memory: 2000Mi
          requests:
            cpu: 2000m
            memory: 2000Mi
        imagePullPolicy: Always
        name: baktabackend
        ports:
        - containerPort: 8080
          name: 8080tcp2
          protocol: TCP
        - containerPort: 8081
          name: 8081tcp2
          protocol: TCP
        volumeMounts:
        - mountPath: /tmp
          name: tmp-volume
        - mountPath: /config
          name: config
          readOnly: true
      volumes:
      - emptyDir: {}
        name: tmp-volume
      - configMap:
          defaultMode: 420
          name: baktabackendconf
        name: config
---
apiVersion: v1
kind: Service
metadata:
  name: bakta
  labels:
    app.kubernetes.io/name: backend
    app.kubernetes.io/part-of: bakta-web
    app.kubernetes.io/version: v0.1.0
spec:
  selector:
    app.kubernetes.io/name: backend
    app.kubernetes.io/part-of: bakta-web
    app.kubernetes.io/version: v0.1.0
  ports:
    - protocol: TCP
      port: 9000
      targetPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: bakta
  labels:
    app.kubernetes.io/name: backend
    app.kubernetes.io/part-of: bakta-web
    app.kubernetes.io/version: v0.1.0
spec:
  selector:
    app.kubernetes.io/name: backend
    app.kubernetes.io/part-of: bakta-web
    app.kubernetes.io/version: v0.1.0
  ports:
    - protocol: TCP
      name: jobport
      port: 9000
      targetPort: 8080
    - protocol: TCP
      name: updateport
      port: 8081
      targetPort: 8081

