Objectstorage:
  S3:
    UserBucket: baktauserdata
    DBBucket: baktadbs
    BaseKey: data/dev
MongoHost: localhost
MongoDBName: bakta
MongoUser: root
MongoUserAuthSource: admin
MongoPort: 27017
K8sNamespace: "bakta-dev"
UpdateService:
  Name: baktawebbackend
  Port: "8081"
Testing: true
ExpiryTime: 345600